<form action="/login" method="POST">
  <input type="text" name="id" placeholder="ID" required><br><br>
  <input type="password" name="password" placeholder="Password" required><br><br>

  <input type="submit" value="Login">
</form>

<hr style="width:25%">

<button type="button" href="/signup">Create New Account</button>


