<form action="login" method="POST">
  <label for="id">ID: </label>
  <input type="text" name="id" required><br>

  <label for="password">Password: </label>
  <input type="password" name="password" required><br>

  <input type="submit" value="Login">
</form>

<hr style="width:25%">

<button type="button">Create New Account</button>


