<h2>Registration</h2>
<form action="/signup" method="POST">
  <% if flash.has?(:message) %>
    <p class="error"><%= flash[:message] %></p>
  <% end %>
  
  <input type="text" name="teacher[name]" placeholder="Name" required><br><br>
  <input type="text" name="teacher[email]" placeholder="Email" required><br><br>
  <input type="password" name="teacher[password]" placeholder="Password" required><br><br>
  <input type="password" name="c_password" placeholder="Confirm Password" required><br><br>

  <input type="submit" value="SignUp">
</form>

<hr style="width:25%">

<form action="/login" method="GET">
  <p>Already have an account?</p>
  <input type="submit" value="Login!">
</form>


